### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# individual_data = purchase_data.groupby(['SN'])
# indiv_purch
# individual_data.to_csv("Resources/individual_data.csv", index = False)

# indiv_file = "Resources/individual_data.csv"
# playerdata = pd.read_csv(indiv_file)
# playerdata.head()

## Player Count

* Display the total number of players

In [24]:
playerlist = purchase_data["SN"].unique()
uniqueplayers = len(playerlist)
playersummary = pd.DataFrame({"Total Players":[uniqueplayers]})
playersummary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
summary_dict = {"Unique Items": [len(purchase_data["Item Name"].unique())],
                "Average Price": purchase_data["Price"].mean(),
                "Total Purchases": purchase_data["Purchase ID"].count(),
                "Total Revenue": purchase_data["Price"].sum()}
summary_df = pd.DataFrame(summary_dict)

summary_df

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [98]:
# gendersummary = purchase_data.groupby(["Gender"])
# gendercomparison = gendersummary.count()
# gendercomparison
malefilter = purchase_data.loc[purchase_data["Gender"] == "Male", :]
maleplayers = len(malefilter["SN"].unique())
malepercent = maleplayers/totalplayers
malepercent

0.8402777777777778

In [99]:
femalefilter = purchase_data.loc[purchase_data["Gender"] == "Female", :]
femaleplayers = len(femalefilter["SN"].unique())
femalepercent = femaleplayers/totalplayers
femalepercent

0.140625

In [100]:
otherfilter = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
otherplayers = len(otherfilter["SN"].unique())
otherpercent = otherplayers/totalplayers
otherpercent

0.019097222222222224

In [101]:
maleplayers + femaleplayers + otherplayers

576

In [125]:
gender_dict = {"Total Players": [maleplayers, femaleplayers, otherplayers],
                "% of Total": [malepercent, femalepercent, otherpercent]}
genderdemographics = pd.DataFrame({"Total Players": [maleplayers, femaleplayers, otherplayers],
                "% of Total": [malepercent, femalepercent, otherpercent]})
genderdemographics

   Total Players  % of Total
0            484    0.840278
1             81    0.140625
2             11    0.019097

In [43]:
groupedbySN = purchase_data.groupby(["Gender", "SN"])
PlayerGender = groupedbySN["Gender"].unique().astype(str)
PlayerGenderCount = groupedbySN["Gender"].unique().value_counts()
PlayerGenderPercent = (PlayerGenderCount/uniqueplayers)*100

GenderSummary = pd.DataFrame({"Total Count":PlayerGenderCount,
                                 "Percentage of Players":PlayerGenderPercent})
PlayerGender

Gender                 SN
Female                 Adastirin33                     ['Female']
                       Aerithllora36                   ['Female']
                       Aethedru70                      ['Female']
                       Aidain51                        ['Female']
                       Aiduesu86                       ['Female']
                                                  ...
Other / Non-Disclosed  Lirtim36         ['Other / Non-Disclosed']
                       Maluncil97       ['Other / Non-Disclosed']
                       Rairith81        ['Other / Non-Disclosed']
                       Siarithria38     ['Other / Non-Disclosed']
                       Sundim98         ['Other / Non-Disclosed']
Name: Gender, Length: 576, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [130]:
grouped_df = purchase_data.groupby(["Gender"])
SNPlayers = grouped_df["SN"].value_counts()
SNPerPlayers = SNPlayers/totalplayers*100
SNpurchases = grouped_df["Purchase ID"].count()
SNavgPrice = grouped_df["Price"].mean()
SNpurchtot = grouped_df["Price"].sum()
TotPerPerson = SNpurchtot/SNPlayers

GenderPurchaseSummary = pd.DataFrame({"Total Players":SNPlayers,
                                      "% of Total Players": SNPerPlayers,
                                        "Total Purchases":SNpurchases,
                                       "Average Price": SNavgPrice,
                                       "Purchase Total": SNpurchtot,
                                         "Average Purchase Total Per Person": TotPerPerson})
GenderPurchaseSummary.head()

                      Total Players  % of Total Players  Total Purchases  \
F      e                        NaN                 NaN              NaN
Female Adastirin33              1.0            0.173611              NaN
       Aerithllora36            2.0            0.347222              NaN
       Aethedru70               1.0            0.173611              NaN
       Aidain51                 1.0            0.173611              NaN

                      Average Price  Purchase Total  \
F      e                        NaN             NaN
Female Adastirin33              NaN             NaN
       Aerithllora36            NaN             NaN
       Aethedru70               NaN             NaN
       Aidain51                 NaN             NaN

                      Average Purchase Total Per Person
F      e                                            NaN
Female Adastirin33                               361.94
       Aerithllora36                             180.97
       Aethedru70                                361.94
       Aidain51                                  361.94

In [ ]:
# PlayerCount = groupedbySN["Gender"]
TotalPurchases = groupedbySN["Item ID"].count()
AvgPurchasePrice = groupedbySN["Price"].mean().map("${:.2f}".format)
TotalPurchasePrice = groupedbySN["Price"].sum().map("${:.2f}".format) 
PurchaseSummary = pd.DataFrame({ "Player Count":1,
                                "Total Purchases": TotalPurchases,
                               "Average Purchase Price": AvgPurchasePrice,
                               "Total Purchase Price": TotalPurchasePrice})

# gendersummary = PurchaseSummary.groupby("Gender")
# TotalPlayers = gendersummary["SN"].count()
# PercentPlayers = TotalPlayers/uniqueplayers
PurchaseSummary.head()

In [120]:
gendergroup = PurchaseSummary.groupby(['Gender'])
gendergroup.sum().head()

,Player Count,Total Purchases,Average Purchase Price,Total Purchase Price
Gender,,,,
Female,81,113,258.781667,361.94
Male,484,652,1458.906167,1967.64
Other / Non-Disclosed,11,15,36.835000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame